@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #131316;
    color: white;
    position: relative;
  }
  
  #root {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
